.footer
  a.btn.share-btn href="https://www.facebook.com/sharer/sharer.php?u=#{data['site-url']}" target="_blank" 分享至 Facebook
  a.btn.share-btn href="https://twitter.com/intent/tweet?&amp;text=#{data['site-title']}&amp;url=#{data['site-url']}" target="_blank" 分享至 Twitter
