/ fake data
ruby:
  fake_titles =
    [
      '為什麼特斯拉不會成為下一個蘋果：汽車硬體問題是會出人命的',
      'Google 又一機器人面世！日本 Schaft 的二足機可穩走雪地與碎石路',
      '沒有網際網路的世界，將變成什麼模樣？',
      '前 Evernote CEO 轉行當創投，首次投資就看好 Bot 發展潛力！',
      'Snapchat 入侵美國大選： 柏尼·桑德斯和希拉蕊·柯林頓欲借社群媒體拉攏年輕人'
    ]

  hero_posts = (1..5).map {|i|
    OpenStruct.new(
      {
        :title => fake_titles[i-1],
        :url => 'posts/',
        :cover => "https://placeimg.com/640/480/#{rand(10)}",
        # :cover => "https://placehold.it/640x480?text=cover",
        :date => lorem_date("%Y/%m/%d"),
        :tags => (rand(4)+1).times.map {
          OpenStruct.new({
            :text => zh_lorem_words(2),
            :url => '#'
          })
        },
        :author => OpenStruct.new({
          :url => '/authors/',
          :name => zh_lorem_name
        }),
        :category => OpenStruct.new({
          :color_id => i,
          :text => zh_lorem_words(2)
        })
      }
    )
  }

.hero.js-hero.is-loading
  .hero_loading_indicator.js_loading_indicator
  .hero_menu_wrapper
    h2.hero_menu_title 熱門文章
    ul.hero_menu
      - hero_posts.reverse.each do |post|
        li.hero_menu_item.js-hero_menu_item class="is-color#{post.category.color_id}"
          a.hero_menu_link href="#{post.url}"
            span= post.title
  .hero_slides_wrapper
    ul.hero_slides
      - hero_posts.each do |post|
        li.hero_slide.js-hero_slide style="background-image: url(#{post.cover})"
          .hero_slide_info
            a.badge class="badge-color#{post.category.color_id}" href="#{post.category.url}"= post.category.text
            a.hero_slide_title href="#{post.url}"= post.title
            ul.post_meta.hero_slide_meta
              li: span.post_date= post.date
              li: a.post_author href="#{post.author.url}"= post.author.name
              li= post.tags.map{ |tag| link_to(tag.text, tag.url, {:class => 'hero_slide_tag'})}.join(', ')
  .hero_pagination_wrapper
    .hero_pagination
      - hero_posts.each do |post|
        .hero_pagination_item.js-hero_pagination_item
