.ad_block
  margin: 48px auto
  .ad_block_content
    display: block
    margin: 0 auto
    > *
      display: block
      margin: 0 auto

  &.ad_block-top
    margin: 0 auto
    padding: 0px
    background-color: $color-gray-ll
    +background-image(linear-gradient(to bottom, rgba($color-gray, 0) 70%, rgba($color-gray, 0.2)))

  +at-breakpoint($pad)
    margin: 96px auto


