.article
  $article-modular-scale-ratio: 1.125em
  font-size: $article-modular-scale-base-font-size
  line-height: $article-modular-scale-base-line-height

  #{headings()}
    color: $color-black
    line-height: 1.25
    margin: 2.25em 0 1em

  h1
    font-size: pow($article-modular-scale-ratio, 4)

  h2
    font-size: pow($article-modular-scale-ratio, 3)

  h3
    font-size: pow($article-modular-scale-ratio, 2)

  h4
    font-size: pow($article-modular-scale-ratio, 1)

  h5
    font-size: 1em

  h6
    font-size: pow($article-modular-scale-ratio, -1)

  p
    margin: 1.5em auto
    font-size: 1em
    line-height: 1.75

  ul, ol
    margin: 1.5em auto
    font-size: 1em
    line-height: 1.75

  img
    max-width: 100vw
    display: block
    margin: 2em -24px

  figure
    margin: 2em auto
    img
      margin-bottom: 0.5em

  figcaption
    text-align: center
    font-size: pow($article-modular-scale-ratio, -2)
    color: $text-gray

  small
    font-size: pow($article-modular-scale-ratio, -2)

  blockquote
    +pie-clearfix
    background-color: transparent
    position: relative
    border-left: 0
    margin: 2.5em auto
    padding: 0.5em 0 0 2.5em
    color: $text-gray
    font-weight: 500
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      background-image: image-url("quote.svg")
      width: 2em
      height: 2em
      background-repeat: no-repeat
      +background-size(contain)
      background-position: center
    p
      font-size: pow($article-modular-scale-ratio, 3)
      line-height: 1.5
      margin: 0 auto 0.25em

    cite
      text-align: left
      display: block
      font-style: normal

  // 移除 ig 載入失敗時，呈現的內容樣式
  blockquote.instagram-media-registered
    &:before
      display: none
    p
      font-size: 1em

  // 讓 iframe 水平置中
  iframe, iframe.twitter-tweet, iframe.instagram-media
    margin: 2em auto !important

  +at-breakpoint($pad)
    font-size: $article-modular-scale-base-font-size-pad
    line-height: $article-modular-scale-base-line-height-pad

    h1
      font-size: pow($article-modular-scale-ratio-pad, 4)

    h2
      font-size: pow($article-modular-scale-ratio-pad, 3)

    h3
      font-size: pow($article-modular-scale-ratio-pad, 2)

    h4
      font-size: pow($article-modular-scale-ratio-pad, 1)

    h5
      font-size: 1em

    h6
      font-size: pow($article-modular-scale-ratio-pad, -1)

    p
      line-height: 1.85

    img
      max-width: 100%
      margin: 2em auto
      padding: 0px

    blockquote
      padding: 0.65em 0 0 3em
      &:before
        width: 2.5em
        height: 2.5em
      p
        font-size: pow($article-modular-scale-ratio-pad, 3)

    figcaption
      font-size: pow($article-modular-scale-ratio-pad, -2)

    small
      font-size: pow($article-modular-scale-ratio-pad, -2)
