.author_block
  position: relative
  +pie-clearfix
  background: $color-white-dark
  margin: 0 auto 24px
  padding: 36px 24px
  +border-radius(2px)

  .author_avatar
    display: block
    margin: 0 auto 6px
    width: 96px
    height: 96px
    +border-radius (100%)
    border: 3px solid #C13B3B

  .author_title
    margin:  0 24px 24px
    text-align: center
    +adjust-font-size-to(21px, 1)
    color: black

  .author_description
    +adjust-font-size-to(15px, 1)
    margin-bottom: 12px

  .author_social_tool
    width: auto
    float: left

  .author_social_tool_item
    float: left
    display: block
    opacity: 0.3
    +transition(opacity 0.25s)

    &:hover
      opacity: 0.5
    .icon
      display: block
      height: 24px
      margin-right: 12px


  .author_more_article
    display: inline-block
    float: right
    +adjust-font-size-to(13px)
    text-decoration: underline
    color: $color-gray


  +at-breakpoint($pad)
    padding: 48px

    .author_avatar
      float: left
      height: 100%
      margin-right: 48px

      img
        width: 100px
        height: 100px

    .author_content
      overflow: hidden

    .author_title
      margin: 0 auto 12px
      text-align: left

    .author_description
      max-width: 670px
      text-align: left

    .author_more_article
      float: left
      margin-left: 12px

  +at-breakpoint($desktop)
    .author_description
      +adjust-font-size-to(16px, 1)
