.author_block
  position: relative
  +pie-clearfix
  background: $color-gray-lll
  margin: 0 auto 24px
  padding: 36px 24px
  +border-radius(2px)

  .author_avatar
    display: block
    +box-sizing(border-box)
    margin: 0 auto 9px
    border: 2px solid $color-primary
    width: 96px
    height: 96px
    +border-radius (100%)
    background-color: $color-gray-ll
    +background-size(cover)
    background-position: center center
    background-repeat: no-repeat
    +transition(opacity 0.25s)
    &:hover
      opacity: 0.75

  .author_title
    margin:  0 24px 18px
    text-align: center
    +adjust-font-size-to(21px, 1)
    color: $color-black-d
    display: block
    +transition(color 0.25s)
    &:hover
      color: $color-primary
      text-decoration: none

  .author_description
    +adjust-font-size-to(15px, 1)
    margin-bottom: 12px

  .author_social_links
    +reset-list-style
    +adjust-font-size-to(13px, 3/4)

    li
      display: inline-block
      &:after
        content: ''
        display: inline-block
        width: 4px
        height: 4px
        margin: 2px 9px
        background-color: $color-gray-l
      &:last-child:after
        display: none

  .author_social_link
    color: $text-gray

  .author_more_article
    display: inline-block
    color: $text-gray

  +at-breakpoint($pad)
    padding: 48px

    .author_avatar
      float: left
      margin-right: 48px

    .author_content
      overflow: hidden

    .author_title
      margin: 0 auto 12px
      text-align: left

    .author_description
      max-width: 670px
      text-align: left

  +at-breakpoint($desktop)
    .author_description
      +adjust-font-size-to(16px, 1)

    .author_social_links
      float: left

    .author_more_article
      float: right
