.footer

  .footer_top
    +pie-clearfix
    padding-top: 48px
    background-color: $color-gray-lll

  .footer_post_list
    margin-bottom: 48px

  .footer_post_list_title
    margin-bottom: 18px

  .footer_post_list_item
    margin-bottom: 18px
    &:last-child:after
      display: none
    .post_title
      +adjust-font-size-to(15px, 1)
      margin-bottom: 0px
      a
        color: $text-gray-d
        +transition(color 0.25s)

        &:hover
          color: darken($color-primary, 5%)
          text-decoration: none

  .footer_subscribe_block
    margin: 0 -24px
    border: none
    padding: 48px 24px 48px
    background-color: transparent
    text-align: left

    .subscribe_block_title
      margin-bottom: 16px

    .subscribe_block_description
      margin-bottom: 16px
      padding-top: 0
      border-top: 0


  .footer_links
    +reset-list-style
    +adjust-font-size-to(15px, 1)
    li
      margin-bottom: 6px
    a
      color: $text-black
      &:hover
        text-decoration: none
        color: $color-primary

  .copyright
    margin-bottom: 48px
    +adjust-font-size-to(15px, 1)
    color: $text-gray-l
    +nowrap

  +at-breakpoint(480px)

    .footer_subscribe_block
      text-align: center
      .subscribe_block_title
        margin: 0 auto 16px
      .subscribe_block_description
        margin: 0 auto 16px

    .footer_links
      margin-bottom: 0px
      text-align: center
      li
        display: inline-block
        margin: 0 9px 6px

    .copyright
      text-align: center

  +at-breakpoint($pad)

    .footer_post_list_group
      margin: 0 -24px

    .footer_post_list
      +box-sizing(border-box)
      display: inline-block
      vertical-align: top
      margin-bottom: 30px
      padding: 0 24px
      width: 50%

    .footer_subscribe_block
      margin: 0 -48px -6px
      padding: 48px



  +at-breakpoint($desktop)

    .footer_post_list
      width: 25%

    .footer_bottom
      padding: 48px 0

    .footer_subscribe_block
      +box-sizing(border-box)
      float: left
      margin: 0
      padding: 0
      text-align: left
      .subscribe_block_title,
      .subscribe_block_description
        margin-left: 0

    .footer_links
      float: right
      margin-bottom: 0
      text-align: right
      li
        display: block
        margin: 0 0 6px

    .copyright
      margin: 0 auto
      text-align: right
      float: right
      clear: right

