.footer

  .footer_top
    +pie-clearfix
    padding-top: 48px
    background-color: $color-gray-lll

  .footer_post_list
    margin-bottom: 48px

  .footer_post_list_title
    margin-bottom: 18px

  .footer_post_list_item
    &:last-child:after
      display: none
    .post_title
      +adjust-font-size-to(15px, 1)
      margin-bottom: 18px
      a
        color: $text-black-l
        +transition(color 0.25s)

        &:hover
          color: darken($color-primary, 5%)
          text-decoration: none

  .footer_bottom
    padding: 0 0 18px

  .footer_subscribe_block
    margin: 0 -24px 24px
    border: none
    border-bottom: 1px solid $color-gray-l
    padding: 30px 24px
    background-color: transparent
    text-align: left

  .footer_links
    +reset-list-style
    margin-bottom: 18px
    +adjust-font-size-to(15px, 1)
    li
      margin-bottom: 9px
    a
      color: $text-black
      &:hover
        text-decoration: none
        color: $color-primary

  .copyright
    margin-bottom: 0
    +adjust-font-size-to(13px, 1)
    color: $text-gray-l


  +at-breakpoint($pad)

    .footer_post_list_group
      margin: 0 -24px

    .footer_post_list
      +box-sizing(border-box)
      display: inline-block
      vertical-align: top
      padding: 0 24px
      width: 50%

    .footer_subscribe_block
      margin: 0 -48px 24px
      padding: 48px
      text-align: center

    .footer_links
      margin-bottom: 0px
      text-align: center
      li
        display: inline-block
        margin: 0 12px 12px

    .copyright
      text-align: center


  +at-breakpoint($desktop)

    .footer_post_list
      width: 25%

    .footer_bottom
      padding-top: 48px

    .footer_subscribe_block
      +box-sizing(border-box)
      border-bottom: none
      float: right
      width: 75%
      margin-bottom: 0
      padding: 0 12px
      text-align: left

    .footer_links
      float: left
      width: 25%
      margin-bottom: 0
      text-align: left
      li
        display: block
        margin: 0 0 9px

    .copyright
      margin: 0 auto
      clear: both
      text-align: left

