.menu
  display: none

  +desktop
    display: block

  .search_form
    position: relative
    border-bottom: 1px solid $color-gray-ll

  .search_submit
    position: absolute
    left: 24px
    top: 0px
    height: 48px
    outline: none
    margin: 0
    border: none
    padding: 0
    background-color: transparent
    opacity: 0.3
    +background-size(18px 18px)

  .search_input
    +box-sizing(border-box)
    display: block
    outline: none
    margin: 0
    border: none
    padding: 12px 24px 12px 54px
    width: 100%
    background-color: transparent
    +adjust-font-size-to(15px, 1)

  .primary_nav
    +reset-list-style

  .primary_nav_item
    border-bottom: 1px solid $color-gray-ll

  .primary_nav_item-dropdown
    &.is-active
      background: $color-gray-ll
      .primary_nav_item_title:after
        +transform(rotateX(180deg))

    .primary_nav_item_title:after
      content: ''
      position: relative
      top: 8px
      float: right
      width: 0
      height: 0
      border-style: solid
      border-width: 7px 4px 0 4px
      border-color: $color-gray transparent transparent transparent
      +transition(transform .3s)

  .primary_nav_item_title
    display: block
    padding: 12px 24px
    color: $color-black-d
    +transition(background-color 0.25s)
    +adjust-font-size-to(15px, 1)

    .en
      display: inline-block
      color: $text-gray
      margin-left: 3px

    &:hover
      background-color: $color-gray-ll
      text-decoration: none


  .primary_nav_item_content
    +reset-list-style
    padding: 9px 0
    background-color: $color-gray-ll
    border-top: 1px solid $color-gray-l

  .primary_nav_child_item
    display: block
    color: $text-black-l
    +transition(background-color 0.25s)
    +adjust-font-size-to(15px, 1)
    padding: 6px 24px
    .en
      display: inline-block
      color: $text-gray
      margin-left: 3px

    &:hover
      text-decoration: none
      color: $text-black
      background-color: $color-gray-l

  .secondary_nav
    +reset-list-style
    padding: 6px 0
    border-bottom: 1px solid $color-gray-ll

  .secondary_nav_item
    a
      display: block
      padding: 6px 24px
      color: $text-gray
      +transition(color 0.25s)
      +adjust-font-size-to(15px, 1)
      &:hover
        color: darken($color-primary, 5%)
        text-decoration: none

  .header_subscribe_block
    padding: 24px 24px

  .header_subscribe_block_title
    color: $color-black-d
    +trailer(0.5)
    +adjust-font-size-to(15px, 1)

  .header_subscribe_block_description
    +trailer(0.75)
    +adjust-font-size-to(13px, 3/4)

  .social_btns
    +reset-list-style
    +pie-clearfix
    li
      float: left
      margin-right: 16px

  .social_btn
    display: block
    color: $text-gray
    opacity: 0.25
    +transition(opacity 0.25s)
    +border-radius(2px)
    border: 1px solid black
    padding: 3px 0
    width: 32px
    cursor: pointer
    &:hover
      opacity: 0.6

  .social_btn-twitter
    .social_btn_icon
      background-image: image-url('icon/twitter.svg')
      width: image-width("icon/twitter.png")

  .social_btn-facebook
    .social_btn_icon
      background-image: image-url('icon/facebook1.svg')
      width: image-width("icon/facebook1.png")

  .social_btn-line
    width: 52px
    .social_btn_icon
      background-image: image-url('icon/line.svg')
      width: image-width("icon/line.png")

  .social_btn_icon
    display: block
    text-indent: 110%
    white-space: nowrap
    overflow: hidden
    background-position: center center
    @include background-size(contain)
    background-repeat: no-repeat
    height: 24px
    margin: 0 auto


  +desktop
    .search_form
      float: right
      border-bottom: none
      +border-radius(0 2px 2px 0)
      background-color: $color-gray-ll
      text-align: center
      &:hover .search_input
        width: 240px
        opacity: 1

    .search_submit
      display: block
      float: none
      width: 48px
      position: relative
      z-index: 100
      top: auto
      left: auto

    .search_input
      position: absolute
      top: 0
      right: 0
      z-index: 90
      width: 0px
      padding: 12px 48px 12px 18px
      background-color: $color-gray-ll
      +box-sizing(border-box)
      opacity: 0
      +transition(width 0.25s, opacity 0.25s)
      &:focus
        width: 240px
        opacity: 1

    .primary_nav
      float: left
      border-bottom: none
      padding: 0

    .primary_nav_item
      float: left
      border-bottom: none


    .primary_nav_item-dropdown
      position: relative

      .primary_nav_item_title:after
        display: inline-block
        top: -1px
        float: none
        margin-left: 6px

      &.is-active
        .primary_nav_item_title
          background-color: $color-gray-ll

    .primary_nav_item_title
      padding: 12px
      .en
        display: none

    .primary_nav_item_content
      position: absolute
      top: 100%
      z-index: 1000
      border-top: none
      background-color: $color-gray-ll

    .primary_nav_child_item
      +nowrap

    .secondary_block
      float: right

    .secondary_nav
      float: left
      padding: 0 12px
      border-bottom: none

    .secondary_nav_item
      a
        +adjust-font-size-to(15px, 1)
        padding: 12px 6px
        color: $text-gray

    .header_subscribe_block
      float: right
      padding: 0
      border-bottom: none

    .header_subscribe_block_title
      float: left
      +trailer(0)
      padding: 12px 0
      +adjust-font-size-to(15px, 1)
      color: $text-gray
      &:after
        content: '：'
        display: inline

    .header_subscribe_block_description
      display: none

    .social_btns
      float: left
      padding: 12px 8px 12px 0px
      li
        margin-right: 0
        border-bottom: none
        float: left

    .social_btn
      display: block
      padding: 0 8px
      border: none
      width: auto

    .social_btn-twitter .social_btn_icon
      width: image-width("icon/twitter.png")
      background-image: image-url('icon/twitter.svg')

    .social_btn-facebook .social_btn_icon
      width: image-width("icon/facebook.png")
      background-image: image-url('icon/facebook.svg')

    .social_btn-line .social_btn_icon
      width: image-width("icon/line.png")
      background-image: image-url('icon/line.svg')


