$menu-width: 260px

.off_canvas
  +transition(transform 0.5s)

  &.is-menu_open
    height: 100%
    background-color: #f6f6f6
    +translate(-$menu-width, 0, 0)

    .page, .off_canvas_mask
      position: fixed

    .page
      width: 100%
      overflow: hidden
      background-color: #fff

    .off_canvas_mask
      bottom: 0

.off_canvas_menu_container
  position: fixed
  width: $menu-width
  top: 0
  bottom: 0
  left: 100%
  overflow: auto

  .menu
    padding-bottom: 100px
    display: block

.off_canvas_mask
  position: absolute
  top: 0
  left: 0
  right: 0
  cursor: pointer
  z-index: 1
