.subscribe_block
  margin: 24px -24px
  padding: 36px 24px
  background-color: $color-gray-lll
  // border-width: 1px 0px
  // border-style: solid
  // border-color: lighten(#000, 50%)

  .subscribe_block_title
    color: $color-black-d
    +adjust-font-size-to(21px, 1)
    +trailer(0.5)

  .subscribe_block_description
    +adjust-font-size-to(15px)
    +trailer(0.5)

  .subscribe_block_social_list
    +pie-clearfix
    +trailer(0.75)

  .subscribe_block_social_item
    float: left
    display: block
    margin-right: 12px
    opacity: 0.4
    width: 32px
    +border-radius(2px)
    border: 1px solid black
    padding: 3px 0
    +transition(opacity 0.25s)
    cursor: pointer
    &.subscribe_block_social_item-line
      width: 52px
    &:hover
      opacity: 0.6
    [class^="icon-"]
      display: block
      height: 24px
      margin: 0 auto

  .subscribe_block_email
    +pie-clearfix
    input
      float: left
      display: block
      padding: 3px 12px
      +border-radius(2px)
      width: 170px
      border: 1px solid rgba(black, 0.4)
      +adjust-font-size-to(13px)
      background-color: transparent
      +transition(border-color 0.25s)
      -webkit-appearance: none
      &:hover
        border: 1px solid rgba(black, 0.6)
      &:focus
        outline: none

    .btn
      float: left
      display: block
      margin-left: -2px
      border: none
      +border-radius (0 2px 2px 0)
      outline: none

  +at-breakpoint($pad)
    margin: 48px 0
    padding: 48px
    text-align: center

    .subscribe_block_title
      +adjust-font-size-to(24px, 1.25)

    .subscribe_block_description
      +trailer(1)

    .subscribe_block_action
      display: inline-block
      +pie-clearfix

    .subscribe_block_social_list
      +trailer(0)
      float: left

    .subscribe_block_email
      float: left

  +at-breakpoint($desktop)
    padding: 48px

    .subscribe_block_email
      input
        width: 240px
