.subscribe_block
  margin: 24px 0
  padding: 36px 0
  border-width: 1px 0px
  border-style: solid
  border-color: lighten(#000, 50%)

  .subscribe_block_title
    color: black
    +adjust-font-size-to(21px, 1)
    +trailer(0.5)

  .subscribe_block_description
    +adjust-font-size-to(15px)
    +trailer(0.5)

  .subscribe_block_social_list
    +pie-clearfix
    +trailer(0.75)

  .subscribe_block_social_item
    float: left
    display: block
    margin-right: 12px
    opacity: 0.4
    +transition(opacity 0.25s)
    &:hover
      opacity: 0.75

  .subscribe_block_email
    input
      padding: 3px 12px
      +border-radius(2px)
      width: 170px
      border: 1px solid rgba(black, 0.4)
      +adjust-font-size-to(13px)
      background-color: transparent
      +transition(border-color 0.25s)
      &:hover
        border: 1px solid rgba(black, 0.75)
      &:focus
        outline: none

    button
      padding: 4px 24px
      border: none
      margin-left: -2px
      +border-radius (2px)
      +adjust-font-size-to(13px)
      vertical-align: middle
      font-weight: bold
      background-color: $color-black
      color: white
      outline: none

  +at-breakpoint($pad)
    +pie-clearfix
    margin: 48px 0
    padding: 36px 12px

    .subscribe_block_description
      +trailer(1)

    .subscribe_block_social_list
      +trailer(0)
      float: left

    .subscribe_block_email
      float: left

  +at-breakpoint($desktop)
    padding: 48px 12px

    .subscribe_block_title
      +adjust-font-size-to(24px, 1.25)

    .subscribe_block_description
      +adjust-font-size-to(16px, 1)

    .subscribe_block_email
      input
        width: 240px
