/ 模擬有頂部廣告的首頁
- @top_ad_block = true

= render "/partials/hero"

= render "/partials/post_list"

= render "/partials/subscribe_block"

= render "/partials/post_list_list_style"

= render "/partials/pagination"

= render "/partials/ad_block"
