= render "/partials/hero"

= render "/partials/post_list"

= render "/partials/subscribe_block"

= render "/partials/post_list_list_style"

= render "/partials/pagination"

= render "/partials/ad_block"
