.page_header
  h1.page_header_title class="page_header_title-color1" 新創 Startup

= render "/partials/post_list_hero_style"

= render "/partials/subscribe_block"

= render "/partials/post_list_list_style"

= render "/partials/pagination"

= render "/partials/ad_block"
