.page_header
  h1.page_header_title 新創 Startup
  span.page_header_subtitle 本頁面由「Intel」贊助

= render "/partials/post_list_hero_style"

= render "/partials/subscribe_block"

= render "/partials/post_list_list_style"

= render "/partials/pagination"

= render "/partials/ad_block"
