/ 主要分類的首頁，並且模擬有廠商贊助的情況
- @top_ad_block = "sponsor"

.page_header
  h1.page_header_title.js-auto_break_title 新創 Startup
  span.page_header_subtitle 本頁面由「Intel」贊助

= render "/partials/post_list_hero_style"

= render "/partials/subscribe_block"

= render "/partials/post_list_list_style"

= render "/partials/pagination"

= render "/partials/ad_block"
