// ---- Base Color ----
// gray
$color-black-d: #222
$color-black: #444
$color-black-l: #7C7B7A

$color-gray-d: #999
$color-gray: #aaa
$color-gray-l: #ddd
$color-gray-ll: #eaeaea
$color-gray-lll: #f7f6f6

// blue
$color-blue-l: #dee9ef
$color-blue: #53caf5
$color-blue-d: darken($color-blue, 10%)

// red
$color-red: #df3f3f
$color-red-d: darken($color-red, 10%)
$color-red-l: lighten($color-red, 10%)

// text-color
$text-black: #444
$text-black-l: #666
$text-gray: #999
$text-gray-l: lighten($text-gray, 15%)

// 網站主色調
$color-primary: #C13B3B


// ---- 網站應用 ----
// 全站圓角參數設定
$global-radius-width: 2px

// 按鈕設定
$btn-bg-color: $color-gray-lll
$btn-hover-bg-color: $color-gray-ll
$btn-active-bg-color: $btn-hover-bg-color

// 網站標籤顏色設定
$color-1: #1CAFD7
$color-2: #EA5496
$color-3: #34ACAC
$color-4: #E4AD00
$color-5: #883041
$color-6: #583C87
$color-7: #C66495
$color-8: #7EB326
$color-9: #EC6B56
$color-10: #28475E
$color-list: ($color-1,$color-2,$color-3,$color-4,$color-5,$color-6,$color-7,$color-8,$color-9,$color-10)
