- @pageNameClass = "page-about"
- @site_title = "關於 Inside - Inside 硬塞的網路趨勢觀察"

.static_content.article
  h1.static_content_title 關於 INSIDE
  .grid
    .grid_item
      p.js-auto_break_text 「2009 年，INSIDE 從幾位網路從業人員的共筆部落格起步，見證Facebook台灣社群 以及 Mobile App 的趨勢起飛，至今已成為台灣報導創業與網路的重要發聲角色。
      p.js-auto_break_text 我們的目標是不斷透過傳遞獨特觀點的文字，為台灣網路科技產業發聲，主要關注議題包含但不限於網路創業、行銷、娛樂、金融、大數據、物聯網、虛擬實境等，希望你一同加入我們，為台灣網路產業發展帶來更好的媒體觀點。」
    .grid_item
      form.form.contact_form#contact
        h3.contact_form_title 聯絡我們
        .form-row.is_required
          label.form-label 名稱
          .form-content
            input.full-width type="text"
        .form-row.is_required
          label.form-label  e-mail
          .form-content
            input.full-width type="email"
        .form-row.is_required
          label.form-label 簡介
          .form-content
            textarea.full-width rows="4"
        .form-action
          button.btn.btn-primary 送出

  h2.static_content_subtitle 編輯群
  .author_list
    - 6.times do |i|
      .author_list_item
        a.author_avatar href="/authors/" style="background-image: url('https://placeimg.com/120/120/#{rand(10)}');"
        .author_list_item_content
          a.author_title href="/authors/"= zh_lorem_name
          p.author_description.js-auto_break_text= zh_lorem_paragraph
          ul.author_social_links
            li: a.author_social_link href="#" Facebook
            li: a.author_social_link href="#" Twitter
            li: a.author_social_link href="#" Mail
