//
// slim markup:
// button.btn / a.btn
//
// Modifiers:
// .btn_action / .btn_primary / .btn_danger / .btn_outline
//
// state:
// .is_disabled
//
// ===========

.btn
  display: inline-block
  margin-bottom: 0
  padding: 4px 24px
  border: none
  +border-radius($global-radius-width)
  +adjust-font-size-to(15px)
  background-image: none
  text-align: center
  text-shadow: none
  cursor: pointer
  outline: none
  +nowrap
  +user-select(none)
  color: $text-black
  background-color: $btn-bg-color
  +transition(background-color 0.25s)

  &:hover
    text-decoration: none
    color: $color-black-light
    background-color: $btn-hover-bg-color
  &:disabled, &.is-disabled
    cursor: default
    color: $color-gray-dark
    background-color: $color-gray-white

// Modifiers
.btn-primary
  color: white
  border-color: $color-black-light
  background-color: $color-black-light
  &:hover
    color: white
    background-color: $color-black
  &:disabled, &.is-disabled
    cursor: default
    color: $color-gray-dark
    background-color: $color-gray-white

.btn-danger
  color: white
  border-color: $color-red
  background-color: $color-red
  &:hover
    color: white
    border-color: $color-red
    background-color: $color-red
  &:disabled, &.is-disabled
    cursor: default
    color: $color-gray-dark
    border-color: $color-gray-white
    background-color: $color-gray-white

.btn-outline
  border: 1px solid $color-black-light
  background-color: transparent
  &:hover
    border: 1px solid $color-black-light
    background-color: transparent
  &:disabled, &.is-disabled
    color: $color-gray-dark
    border: 1px solid $color-gray-light
    background-color: transparent
