=set-icon-image($image-name)
  width: image-width("#{$image-name}.png")
  height: image-height("#{$image-name}.png")
  background-image: image-url("#{$image-name}.png")
  background-image: none, image-url("#{$image-name}.svg")

[class^="icon-"], [class*=" icon-"]
  display: inline-block
  text-indent: 110%
  overflow: hidden
  text-align: left
  background-repeat: no-repeat
  background-position: 50% 50%
  background-position: center center
  white-space: nowrap
  +background-size(contain)

.icon-search
  +set-icon-image("icon/search")

.icon-facebook
  +set-icon-image("icon/facebook")

.icon-twitter
  +set-icon-image("icon/twitter")

.icon-line
  +set-icon-image("icon/line")

.icon-mail
  +set-icon-image("icon/mail")

.icon-comment
  +set-icon-image("icon/comment")

.icon-border-facebook
  +set-icon-image("icon/border-facebook")

.icon-border-twitter
  +set-icon-image("icon/border-twitter")

.icon-border-line
  +set-icon-image("icon/border-line")
