.post_meta
  +pie-clearfix
  +reset-list-style
  +adjust-font-size-to(13px, 3/4)

  li
    display: inline
    color: #aaa
    &:after
      content: ''
      display: inline-block
      width: 4px
      height: 4px
      margin: 2px 5px
      background-color: $color-gray-ll
    &:last-child:after
      display: none

    a, span
      color: #aaa
      display: inline-block

  .post_tag
    a, span
      margin-right: 6px

