.post_toolbox
  margin-bottom: 24px
  +pie-clearfix

  &.post_toolbox-footer
    margin-bottom: 48px
    text-align: center
    .post_toolbox-footer_title
      display: block

  &.post_toolbox-sticky
    display: none

.post_toolbox-footer_title
  display: none
  +adjust-font-size-to(13px, 1)
  margin-bottom: 6px
  color: $text-gray

.post_toolbox_logo
  display: none

.post_toolbox_item
  +pie-clearfix
  box-sizing: border-box
  display: inline-block
  vertical-align: top
  min-width: 60px
  margin-right: 2px
  padding: 3px 12px
  text-align: center
  color: $color-gray
  background-color: $btn-bg-color
  cursor: pointer
  +transition(background-color 0.25s)
  line-height: 24px
  &.icon-line
    font-size: 14px
  &.icon-comment
    font-size: 13px
    .post_toolbox_item_tip
      float: left
      line-height: 22px
    &:before
      float: left
      font-size: 14px
      margin-right: 4px
  &:first-child
    +border-radius(2px 0 0 2px)
  &:last-child
    margin-right: 0
    +border-radius(0 2px 2px 0)

  &:hover
    text-decoration: none
    color: white
    background-color: $color-primary

  &.post_toolbox_item-logo
    display: none


+pad
  .post_toolbox
    display: none
    &.post_toolbox-sticky
      display: block
      overflow: hidden

  .post_toolbox-sticky
    position: -webkit-sticky
    top: 48px
    float: left
    margin: 0px auto 0 -72px
    width: 48px

    &.is-sticky
      position: fixed
      top: 36px

      .post_toolbox_logo
        opacity: 1
        +transition(margin-bottom 0.25s, opacity 0s)

      .post_toolbox_action
        +translateY(0)

      .post_toolbox_item:first-child
        +border-radius(0px)

    &.is-bottom
      position: absolute
      top: auto
      bottom: 0

      .post_toolbox_logo
        opacity: 1
        +transition(margin-bottom 0.25s, opacity 0s)

      .post_toolbox_action
        +translateY(0)

      .post_toolbox_item:first-child
        +border-radius(0px)

    .post_toolbox_action
      +translateY(-50px)
      +transition(transform 0.25s)

    .post_toolbox_item
      margin: 0 0 2px 0
      padding: 12px 0
      width: 100%
      min-width: 0
      border-radius: 0
      &.icon-comment
        padding: 9px
        &:before
          display: block
          float: none
          margin-bottom: -6px
      &:first-child
        +border-radius(2px 2px 0 0)
      &:last-child
        +border-radius(0 0 2px 2px)

  .post_toolbox_logo
    display: block
    margin-bottom: 2px
    padding: 0
    width: 48px
    height: 48px
    opacity: 0
    +border-radius(2px 2px 0 0)
    background-image: image-url("logo-small.svg")
    +transition(margin-bottom 0.25s, opacity 0s 0.25s)


