- @pageNameClass = "page-author"

.page_header
  h1.page_header_title.js-auto_break_title 作者「Beseye」發佈的所有文章

= render "/partials/author_block"

= render "/partials/post_list_list_style"

= render "/partials/pagination"

= render "/partials/ad_block"
