.post
  .post_header.js-post_header
    a.post_category.badge class="badge-color3" href="/categories/"= zh_lorem_words(2)
    h1.post_header_title.js-auto_break_title Facebook 推新 WordPress 插件，部落客能在 FB 上發高品質即時文章！
    ul.post_meta
      li: span.post_date= lorem_date("%Y/%m/%d")
      li: a.post_author href="/authors/"= zh_lorem_name
      li
        - (rand(4)+1).times do|i|
          a.post_tag href="/tags/"= zh_lorem_words(2)
    / 手機上專用的分享 toolbox
    = render "/posts/toolbox"

  .post_content_wrapper
    / 在平板以上才會出現的固定式 toolbox
    = render "/posts/toolbox", :locals => {:modifier => 'sticky'}
    .post_content.article
      / 文章內容
      figure
        img src="http://www.wired.com/images_blogs/underwire/2014/01/Breaking-Bad-Heisenberg.jpg" alt=""/
        figcaption  Photo Credit:<a href="http://media.fb.com/2016/03/07/instant-articles-wordpress-plugin/">Facebook Media</a>
      p 根據 Facebook 官方部落格「Facebook Media」表示，Facebook 即將針對 WordPress 發佈新的插件，未來 WordPress 上的部落客將可以即時同步發佈文章在 Facebook 與 WordPress 平台上，並且這些文章能在 Facebook 平台上享受「Instant Articles」所帶來的優化閱讀體驗。
      h3 文章標題
      figure
        img src="http://www.bolumrehberi.com/images/tv-show/House-of-Cards/house_of_cards_wallpapers_1920x1080_03.jpg" alt=""/
        figcaption 藉由新 WordPress 插件所發佈的「Instant Articles」文章，Photo Credit:Facebook Media
      p 文章段落。說起動畫與特效製作公司，以假亂真的特效和異想天開的動畫幻想讓人由衷佩服，可他們一個個破產、變賣的辛酸史卻不為人知。據好萊塢數據統計，電影史上票房最高的 50 部電影，有 49 部都需要通過動畫與特效來輔助視覺呈現。好萊塢的整個電影產業已經離不開動畫和特效，那應該是個火紅的生意才對啊，但為何落得如此下場？
      h4 文章子標題
      p 之前 Facebook 就已與《華盛頓郵報》、《紐約時報》等大型媒體合作，針對其新聞報導提供「Instant Articles」功能，讓使用者不用跳出 Facebook 另開瀏覽器，而是用更直覺且優化過的文章頁面閱讀這些新聞。而現在他們將進一步與全球網站四分之一來源的 WordPress 合作，讓全球的部落客或出版商也享有「Instant Articles」功能。根據 WordPress 官方表示，該插件透過開源的特殊 RSS 所制定，並且「Instant Articles」文章的讀取速度會比普通瀏覽器讀取速度快上十倍，並支援影片自動播放、圖片智慧型縮放等功能。
      h4 文章子標題
      p 曾經是好萊塢第二大動畫特效公司，在世界各地包括中國均有分公司。1992年，著名大導演詹姆斯·卡梅隆、其御用特效師 Stan Winston，加上盧卡斯光影魔幻工業的初期主管 Scott Ross 一起創立，公司成立後總共為一百多部電影製作了特效。你看過的好萊塢大片，幾乎都有 Digital Domain 的參與，其中耳熟能詳的有《鐵達尼號》、<a href="http://www.imdb.com/title/tt0119116/" target="_blank">《第五元素》</a>、《班傑明的奇幻旅程》、《神鬼奇航》、《變形金剛》、《鋼鐵人系列》、《玩命關頭 7》。
      blockquote
        p 不要因為有配著偉人照片，就隨便相信網路上流傳的名言佳句。
        cite — 胡適
      p 2006年，Digital Domain 被 Wyndcrest Holdings 基金收購。2012 年 9 月，宣告破產欠債 3500 萬美元，最終以 3000 萬美元的價格拍賣給北京小馬奔騰集團 70%股權，和印度 Reliance 集團 30%股權。隨後 2013 年小馬奔騰又以 5000 萬美元價格轉手把 70% 股權賣給了香港上市公司奧亮集團。奧亮集團搖身更名為 Digital Domain 集團，曾經的全球第二大的動畫特效公司名存實亡。
      blockquote 什麼事都靠政府不可能改變，什麼都怪大環境更是無法讓台灣進步。更重要的是，你的生活想更好，只能靠自己去努力。縱然你的確有權利批評政府，抱怨大環境，但這都無濟於事不是？彷彿政府不幫你，命運之神不拯救你，你就有理由擺爛自己的人生，若真是這樣想，你的人生永遠改變不了。
      p <b>Google 指出，經過調查後他們發現特別成功的團隊有以下五點特質：</b>
      ol
        li 心理上的安全感：我們要冒險的的時候，會不會對團隊產生不安全感，或是感到不好意思？
        li 可靠：我們可以放心依靠彼此，準時完成優質的工作嗎？
        li 組織結構和透明度：團隊的目標、角色分配、和實行計劃明確嗎？
        li 工作的意義：我們做的事對每一個成員來說都很重要嗎？
        li 工作的影響力：我們真心相信正在做的事能造成影響嗎？
      / 文章內容 end

  .post_footer.js-post_footer
    / 手機上專用的分享 toolbox
    = render "/posts/toolbox", :locals => {:modifier => "footer"}
    .poster_footer_author
      = render "/partials/author_block"

/ 橫幅廣告區塊
= render "/partials/ad_block"

/ 訂閱區塊
= render "/partials/subscribe_block"

/ 相關文章區塊
.block.block-relative-articles
  h2.block_title 相關文章
  .block_content
    .post_list.post_list-grid_style
      - 3.times do |i|
        .post_list_item
          a.post_cover href="/posts/"
            .post_cover_inner style="background-image: url(https://placeimg.com/640/480/#{rand(10)});"
          .post_list_item_content
            / 文章標籤的顏色，跟隨者 .badge-color1, .badge-color2 ...等 class 來呈現
            a.post_category.badge class="badge-color#{rand(10)}" href="/categories/"= zh_lorem_words(2)
            h3.post_title: a.js-auto_break_title href="/posts/"= zh_lorem_sentence
            / 請由後端控制文章敘述為 55 字，後面有多的文字用省略符號「⋯」替代
            p.post_description.js-auto_break_text= zh_lorem_paragraph
            ul.post_meta
              li: span.post_date= lorem_date("%Y/%m/%d")
              li: a.post_author href="/authors/"= zh_lorem_name
              li
                - (rand(4)+1).times do|i|
                  a.post_tag href="/tags/"= zh_lorem_words(2)

/ fb 留言區塊
.block.block-fb_comments#block-fb_comments
  h2.block_title 評論
  .block_content
    = render "/posts/fb_comment"

/ 求職廣告區塊
= render "/partials/job_feed_block"

= content_for :script do
  = javascript_include_tag 'post-sticky'
